@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 95vh;
  width: 100%;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow: hidden !important;
}
#card-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: opacity 1s ease, transform 1s ease;
  z-index: 1;
}

.card.active {
  transform: scale(1);
  z-index: 2;
}

.card img {
  width: 100%;
  height: 100%;
}

#progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ddd;
}

.progress {
  height: 100%;
  background-color: #3498db;
  width: 0;
}

.suprime-slider-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 26px;
  margin-left: 40%;
}

.suprime-slider-container .suprime-slider-item-1 {
  background-image: url("./assets/slider-image-1.jpg");
}
.suprime-slider-container .suprime-slider-item-2 {
  background-image: url("./assets/slider-image-2.jpg");
}
.suprime-slider-container .suprime-slider-item-3 {
  background-image: url("./assets/slider-image-3.jpg");
}
.suprime-slider-container .suprime-slider-item-4 {
  background-image: url("./assets/slider-image-4.jpg");
}

.suprime-slider-container .suprime-slider-item {
  height: 350px;
  width: 300px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  border-radius: 20px;
  z-index: 500;
  transition: all 0.5s ease-in-out;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.suprime-slider-container .suprime-slider-item div {
  z-index: 200;
  display: none;
  padding-left: 7rem;
}

/* Button */
.suprime-slider-item-primary:link,
.suprime-slider-item-primary:visited {
  color: white;
  padding: 10px 27px;
  border: 1px solid #fff;
  border-radius: 10rem;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1.8rem;
  transition: background 0.3s ease;
}

.suprime-slider-item-primary:hover,
.suprime-slider-item-primary:active {
  background: rgba(255, 255, 255, 0.3);
}

.suprime-slider-container .suprime-slider-item div h4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
}

.suprime-slider-container .suprime-slider-item div h4::before {
  content: "";
  display: block;
  width: 3rem;
  height: 2px;
  background: #fff;
}

.suprime-slider-container .suprime-slider-item div h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.suprime-slider-container .suprime-slider-item div p {
  width: 55%;
  line-height: 1.6;
}

/* Active Slider */
/* .suprime-slider-container .suprime-slider-item {
  height: 350px;
  width: 300px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 500;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
} */

.suprime-slider-container .suprime-slider-item.active {
  height: 100%;
  width: 100%;
  border-radius: 0;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}

.suprime-slider-container .suprime-slider-item.active div {
  display: block;
}

#progress-bar {
  width: 100%;
  height: 5px;
  position: relative;
  z-index: 600;
}

#progress-bar .progress {
  height: 100%;
  width: 5%;
  background-color: red;
}
