@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header nav a {
  color: #eee;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 12px;
  transition: 0.2s;
  text-decoration: none;
  font-weight: 600;
}

header nav a.active,
header nav a:hover {
  background: #14ff72cb;
  border-radius: 2px;
}

/* slider section */

.suprime-slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: -50px;
}

.suprime-slider .suprime-slider-list .suprime-slider-list-item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.suprime-slider .suprime-slider-list .suprime-slider-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  padding-right: 30%;
  transform: translate(-50%);
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content
  .title,
.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content
  .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content
  .type {
  color: #14ff72cb;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content
  .description {
  font-size: 14px;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content
  .button {
  margin-top: 20px;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content
  .button
  button {
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 500;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  padding: 7px 14px;
  border-radius: 10rem;
  transition: 0.3s ease;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item
  .suprime-slider-list-item-content
  .button
  button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Thumbnail Section */
.suprime-slider-thumbnail {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
}

.suprime-slider-thumbnail .suprime-slider-thumbnail-item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.suprime-slider-thumbnail .suprime-slider-thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrow Section */
.suprime-slider .nextPrevArrow {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10;
  z-index: 900;
}

.suprime-slider .nextPrevArrow button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #14ff72cb;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.suprime-slider .nextPrevArrow button:hover {
  background-color: #fff;
  color: #000;
}

.suprime-slider .suprime-slider-list .suprime-slider-list-item:nth-child(1) {
  z-index: 1;
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .title,
.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .type,
.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .description,
.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .button {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .title {
  animation-delay: 0.4s;
}
.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .type {
  animation-delay: 0.6s;
}
.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .description {
  animation-delay: 0.8s;
}
.suprime-slider
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .button {
  animation-delay: 1s;
}

/* Animation fro next button click */
.suprime-slider.next
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s 1s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.suprime-slider.next
  .suprime-slider-thumbnail
  .suprime-slider-thumbnail-item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.suprime-slider.prev .suprime-slider-list .suprime-slider-list-item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.suprime-slider.next .suprime-slider-thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation fro prev button click */
.suprime-slider.prev
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(2) {
  z-index: 2;
}

.suprime-slider.prev
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(2) {
  z-index: 2;
}

.suprime-slider.prev
  .suprime-slider-list
  .suprime-slider-thumbnail-item:nth-child(2)
  img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outFrame 0.5s linear 1 forwards;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.suprime-slider.prev .suprime-slider-thumbnail .suprime-slider-list-item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}


.suprime-slider.prev
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .title,
.suprime-slider.prev
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .type,
  .suprime-slider.prev
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .description,
.suprime-slider.prev
  .suprime-slider-list
  .suprime-slider-list-item:nth-child(1)
  .suprime-slider-list-item-content
  .button {
    animation: contentOut 0.5s 1s linear 1 forwards;
  }

  @keyframes contentOut {
    to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
    }
  }

  @media  screen and (max-width: 678px) {
    .suprime-slider .suprime-slider-list .suprime-slider-list-item .suprime-slider-list-item-content{
      padding-right: 0;
    }

    .suprime-slider .suprime-slider-list .suprime-slider-list-item .suprime-slider-list-item-content .title{
      font-size: 30px;
    }
  }